### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
pd.DataFrame({"Total Players":purchase_data["SN"].unique().shape[0]},index=[0])

   Total Players
0            576

In [6]:
pd.DataFrame({"Total Players":purchase_data["SN"].unique().shape[0]},index=["Male"])

      Total Players
Male            576

## Purchasing Analysis (Total)

In [7]:
items=purchase_data["Item ID"].unique().shape[0]
price="$"+ str(round(purchase_data["Price"].mean(), 2))
num_purchase=purchase_data.shape[0]
tot_rev="$"+ str(round(purchase_data["Price"].sum(), 2))

In [8]:
items

183

In [9]:
price

'$3.05'

In [10]:
num_purchase

780

In [11]:
tot_rev

'$2379.77'

In [12]:
pur_total=pd.DataFrame({"Number of Unique Items":items, "Average Price": price, "Number of Purchases": num_purchase, "Total Revenue'":tot_rev},index=[0])

In [13]:
pur_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue'
0                     183         $3.05                  780       $2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
purchase_data[purchase_data["Gender"]=="Male"]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [16]:
male_count=purchase_data[purchase_data["Gender"]=="Male"]["SN"].unique().shape[0]
female_count=purchase_data[purchase_data["Gender"]=="Female"]["SN"].unique().shape[0]
oth_count=purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]["SN"].unique().shape[0]

In [17]:
male_count

484

In [18]:
female_count

81

In [19]:
oth_count

11

In [20]:
#Get Percentages
per_male=str(round(male_count/576 * 100, 2)) + "%"
per_female=str(round(female_count/576 * 100, 2)) + "%"
per_other=str(round(oth_count/576 * 100, 2)) + "%"

In [21]:
per_male

'84.03%'

In [22]:
per_female

'14.06%'

In [23]:
per_other

'1.91%'

In [24]:
gen_dem=pd.DataFrame({"Total Count":[male_count,female_count,oth_count], "Percentage of Players": [per_male, per_female, per_other]},index=["Male", "Female", "Other/Non-Disclosed"])

In [25]:
gen_dem

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [26]:
print("Perecentage and Count of Male Players = " + str(male_count))
print("Perecentage and Count of Female Players = " + str(female_count))
print("Perecentage and Count of Other / Non-Disclosed = " + str(oth_count))

Perecentage and Count of Male Players = 484
Perecentage and Count of Female Players = 81
Perecentage and Count of Other / Non-Disclosed = 11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [69]:
male_pur=purchase_data[purchase_data["Gender"]=="Male"]["Purchase ID"].unique().shape[0]
female_pur=purchase_data[purchase_data["Gender"]=="Female"]["Purchase ID"].unique().shape[0]
oth_pur=purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]["Purchase ID"].unique().shape[0]

In [70]:
male_pur

652

In [71]:
female_pur

113

In [72]:
oth_pur

15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80