### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [28]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [29]:
total_players = pd.DataFrame({"Total Players":purchase_data["SN"].unique().shape[0]},index=[0])

In [30]:
pd.DataFrame({"Total Players":purchase_data["SN"].unique().shape[0]},index=["Male"])

      Total Players
Male            576

## Purchasing Analysis (Total)

In [31]:
items=purchase_data["Item ID"].unique().shape[0]
price="$"+ str(round(purchase_data["Price"].mean(), 2))
num_purchase=purchase_data.shape[0]
tot_rev="$"+ str(round(purchase_data["Price"].sum(), 2))

In [32]:
items

183

In [33]:
price

'$3.05'

In [34]:
num_purchase

780

In [35]:
tot_rev

'$2379.77'

In [36]:
sum_df=pd.DataFrame([{"Number of Unique Items":items, 
                         "Average Price": price, 
                         "Number of Purchases": num_purchase, 
                         "Total Revenue":tot_rev}])

sum_df = sum_df[{'Number of Unique Items', 'Average Price','Number of Purchases','Total Revenue'}]
sum_df

  Total Revenue Average Price  Number of Unique Items  Number of Purchases
0      $2379.77         $3.05                     183                  780

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
purchase_data[purchase_data["Gender"]=="Male"]

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [38]:
male_count=purchase_data[purchase_data["Gender"]=="Male"]["SN"].unique().shape[0]
male_count

484

In [39]:
female_count=purchase_data[purchase_data["Gender"]=="Female"]["SN"].unique().shape[0]
female_count

81

In [40]:
oth_count=purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]["SN"].unique().shape[0]
oth_count

11

In [57]:
#Total Gender Count
total_count=str(round(male_count+female_count+oth_count, 2))

In [58]:
total_count

'576'

In [59]:
#Get Percentages
per_male=str(round(male_count/576 * 100, 2)) + "%"
per_female=str(round(female_count/576 * 100, 2)) + "%"
per_other=str(round(oth_count/576 * 100, 2)) + "%"

In [60]:
per_male

'84.03%'

In [61]:
per_female

'14.06%'

In [62]:
per_other

'1.91%'

In [63]:
gen_dem = pd.DataFrame({"Total Count":[male_count,female_count,oth_count], "Percentage of Players": [per_male, per_female, per_other]},index=["Male", "Female", "Other/Non-Disclosed"])

In [64]:
gen_dem

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [65]:
#Get Purchase Count
male_price=purchase_data[purchase_data["Gender"]=="Male"]["Purchase ID"].unique().shape[0]
female_price=purchase_data[purchase_data["Gender"]=="Female"]["Purchase ID"].unique().shape[0]
other_price=purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]["Purchase ID"].unique().shape[0]

In [66]:
male_price

652

In [67]:
female_price

113

In [68]:
other_price

15

In [69]:
#Get Total Purchase Value
male_purchase = purchase_data[purchase_data["Gender"]=="Male"]["Price"].sum().tolist()
female_purchase = purchase_data[purchase_data["Gender"]=="Female"]["Price"].sum().tolist()
other_purchase = purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]["Price"].sum().tolist()

In [70]:
male_purchase

1967.64

In [71]:
female_purchase

361.94

In [72]:
other_purchase

50.19

In [73]:
#Total Purchase Count
total_purchase=str(round(male_purchase+female_purchase+other_purchase , 2))

In [74]:
total_purchase

'2379.77'

In [75]:
#Get Average Purchase Price
male_avg="$"+ str(round(purchase_data[purchase_data["Gender"]=="Male"]["Price"].mean(), 2))
female_avg="$"+ str(round(female_purchase/female_price, 2))
other_avg="$"+ str(round(other_purchase/other_price, 2))

In [76]:
male_avg

'$3.02'

In [77]:
female_avg

'$3.2'

In [78]:
other_avg

'$3.35'

In [82]:
gen_dem_df=pd.DataFrame({"Purchase Count":[male_count,female_count,oth_count], "Average Purchase Price": [per_male, per_female, per_other]},index=["Male", "Female", "Other/Non-Disclosed"])

In [83]:
gen_dem_df

                     Purchase Count Average Purchase Price
Male                            484                 84.03%
Female                           81                 14.06%
Other/Non-Disclosed              11                  1.91%

In [84]:
# Total purchase value
gender_purchase_value = sum_df.groupby(['Gender']).sum()['Price']

# Average total purchase per person
gender_average_total = gender_purchase_value / gender_summary_df['Total Count']

KeyError: 'Price'

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
print("Perecentage and Count of Male Players = " + str(male_count))
print("Perecentage and Count of Female Players = " + str(female_count))
print("Perecentage and Count of Other / Non-Disclosed = " + str(oth_count))


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [166]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame